/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.main-header {
    background-color: #ADD8E6;
    padding: 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DAA520;
    padding: 10px;
    width: 1200px;
    margin: auto;
    border: 2px dotted black;
}

.link-list {
    display: flex;
    gap: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    width: 500px;
    text-align: center;
    height: 300px;
    width: 800px;
}



/* UTILITIES */


.bg-blue {
    background-color: blue;
}

.bg-violet {
    background-color: violet;
}






/* DEBUG RULS */

.debug ,container {
    border: 2px solid black;
}

.debug .row {
    border: 2px solid yellow;
    padding: 15px;
}

.debug .col {
    border: 2px solid red;
    padding: 15px;
}