/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.main-header {
    background-color: #ADD8E6;
    padding: 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DAA520;
    padding: 10px;
    width: 1200px;
    margin: auto;
    border: 2px dotted black;
}

.link-list {
    display: flex;
    gap: 10px;
}

/* UTLITIES  */

