/* RESET RULES  */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul, ol {
list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* LAYOUT */

.main-header {
    background-color: #ADD8E6;
    padding: 15px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DAA520;
    padding: 10px;
    width: 1200px;
    margin: auto;
    border: 2px dotted black;
}

.link-list {
    display: flex;
    gap: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    width: 800px;
    text-align: center;
    height: 300px;
}

.col-1 {
    height: 200px;
    width: 100px;
    justify-content: center;
} 
.row-1 {
    display: flex;
    flex-wrap: wrap;
    height: 350px; 
    width: 1200px;  
    align-items: center; 
    justify-content: center;
}


/* UTILITIES */


.bg-blue {
    background-color: blue;
}

.bg-violet {
    background-color: violet;
}

.bg-white {
    background-color: white;
}

.bg-rose {
    background-color: hsl(300, 76%, 72%) ;
}

.bg-cfblue {
    background-color: cornflowerblue;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}





/* DEBUG RULES */

.debug ,container {
    border: 2px solid black;
}

.debug .row {
    border: 2px solid yellow;
    padding: 15px;
}

.debug .col {
    border: 2px solid red;
    padding: 15px;
}